<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="Placiibo">
  <meta name="author" content="Jake Russo">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/buttons.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class=container>
    <header>
      <!-- <div class="header clearfix"> -->
        <h3 class=text-muted>Placiibo</h3>
      <!-- </div> -->
    </header>
    <section>
      <div class=jumbotron>
        <h2>Click This</h2>
        <a href="#" class="button button-3d button-circle">
          {{label}}
        </a>
      </div>
      <details>
        <summary>Edit</summary>
        <form>
          Label: <input type="text" name="text"
            placeholder="Enter button's text"/><br>
          Color: <select class="" name="color">
            <option value="grey">Grey</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="orange">Orange</option>
            <option value="red">Red</option>
            <option value="purple">Purple</option>
          </select><br>
          <input type="submit" name="submit" value="submit">
        </form>
      </details>
    <div class=container>
  </section>
</body>
</html>
