<!doctype html>
   <head>
      <meta charset="utf-8">
      <title>Placiibo</title>
      <meta name="description" content="Placiibo">
      <meta name="author" content="Jake Russo">
   </head>
   <body>
      <h1>Placiibo</h1>
      <section>
         <h2>The Button</h2>
         <details>
            <summary>Edit</summary>

               <input type="text" name="text"
                  ic-post-to="/text_changed"
                  ic-trigger-on="keyup changed"
                  ic-target="#the-button"
                  placeholder="Enter button's text"/>
         </details>
         <button id="the-button" type=button>{label}</button>
      </section>
      <script src="index.js"></script>
   </body>
</html>
